.container {
    display: flex;
    align-items: center;
    height: 100vh;
    z-index: 1;
}

.row {
    display: flex;
    justify-content: center;
}
.row div {
    border-radius: 20%;
    /* padding: 20px; */
    width: 60px;
    height: 60px;
    margin: 15px ;
    background-color: rgb(78, 175, 49);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.scene {
    width: 100%;
    background-color: rgb(76, 155, 179);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    font-size: 2em;
}
